.pic{
    display: block;
    margin: auto;
    width: 21%;

}
.pic:hover{
transform:skew(360deg);
transition: 3s;
}

h1{
  text-align: center;
  font-size:80px;
}
body{
  background-image: url("http://orig03.deviantart.net/c7a3/f/2012/258/9/1/ani_rainbow_by_engineerjr-d5et1sk.gif");
}
.header{
  width:1000;
  height:700px;
  background-color: white;
  transition:5s;
}
.real{
  background-color: #ff5ede;
  width: 50%;
  height:2000px;
  margin-top: 20px;
  color:white;
}
.furry{
  margin-left: 175px;
  margin-right: 175px;
  margin-top: 10px;
  width:500px;
}
.relate{
  width:300px;
  margin: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
}
#rhino{
  height:312px;
}
.rel{
  font-size: 40px;
}
.rinmem{
  width:400px;
  margin-left: 200px;
}
.links{
  width: 100%;
  height:200px;
  background-color: #ff5ede;
  margin-left: 50px;
  margin-top: 20px;
  color:white;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap

}
.befaf{
  width: 100%;
  height:1500px;
  background-color: #ff5ede;
  margin-left: 50px;
  margin-top: 20px;
  color:white;
  font-size: 60px;
}
a{
  color:yellow;
}
.uni{
  width:300px;
  margin-left: 60px;
  margin-top: 20px;
}
#rain{
  height:300px;
}

.rightSide {
  width: 40%;
}
.hh{
  font-size: 30px;
}
#u{
  width:200px;
  margin-left: 290px;
}
